@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap');
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
/* Styling for navbar start */
.navbar{
    padding-top: 0px;
    padding-bottom:0px ;
}
.navs{
    padding-left: 500px;
}
.nav-item{
    padding-left: 50px;
    font-style: bold;
    font-family: 'Space Mono', monospace;
    color: rgb(204, 199, 199)
}


.navbar-brand{
    padding-left: 20px;
    font-family: 'Space Mono', monospace;
    
}



/* Styling for navbar end */